:root {
    --width-sidebar: 220px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0 0 var(--width-sidebar);
    width: 100%;
    background: linear-gradient(180deg, rgba(231, 231, 249, 0.5) 0%, rgba(231, 231, 249, 0.75) 37.35%);
    box-shadow: inset 0px 0px 100px rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(24px);
}

.profileImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    width: 100%;
}

.profileImage {
    --size: 77px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    object-fit: cover;
    background: #f5f5f5;
    border: 2px solid #ffffff;
    filter: drop-shadow(0px 8.05972px 16.1194px rgba(31, 6, 183, 0.08));
}

.profileName {
    text-align: center;
    padding: 10px 20px;
    background: rgba(227, 227, 247, 0.3);
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #262F56;
}

.logout {
    cursor: pointer;
    text-align: center;
    padding: 10px 20px;
    background: rgba(227, 227, 247, 0.3);
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #262F56;
}

.logout:hover {
    background: rgba(227, 227, 247, 0.5);
}
