.App {
    display: flex;
    min-height: 100vh;
}

:root {
    --w: 250px;
}

.sidebar {
    flex: 0 0 var(--w);
    background: #cdcdcd;
    width: 100%;
}

.content {
    flex: 0 0 calc(100% - var(--w));
    background: #cdcddd;
    width: 100%;
}
