@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

@font-face {
    font-family: 'San Francisco(SF UI)';
    src: local('San Francisco(SF UI) Display Regular'), local('San-Francisco(SF-UI)-Display-Regular'),
    url('./assets/fonts/SFUIDisplay-Regular.woff2') format('woff2'),
    url('./assets/fonts/SFUIDisplay-Regular.woff') format('woff'),
    url('./assets/fonts/SFUIDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: 'San Francisco(SF UI)', sans-serif;
}

.App {
    display: flex;
    height: 100vh;
    overflow: hidden;
    background: url(./assets/bg.jpg) no-repeat center;
    background-size: cover;
}

.content {
    flex: 0 0 calc(100% - var(--width-sidebar));
    width: 100%;
}

