* {
    box-sizing: border-box;
    font-family: 'SF UI Display';
}

.App {
    display: flex;
    min-height: 100vh;
    background: url(./assets/bg.jpg) no-repeat center;
    background-size: cover;
}

.content {
    flex: 0 0 calc(100% - var(--width-sidebar));
    width: 100%;
}

